/*Large Devices*/

@media(min-width: 1200px) {
    .social-responsive {
        display: none;
    }
    .logo-text-responsive{
        display: none;
    }
    .links-responsive{
        display: none;
    }
    
    .social-mobile-responsive{
        display: none;
    }
    .canvas-responsive{
        display: none;
    }
}

/*Medium Devices(Landscape Tablets and Medium Desktop*/

@media(min-width: 992px) and (max-width: 1199px) {
    .social-responsive {
        display: none;
    }
    .logo-text-responsive{
        display: none;
    }
    .links-responsive{
        display: none;
    }
    
    .social-mobile-responsive{
        display: none;
    }
    .canvas-responsive{
        display: none;
    }
}

/*small devices(Portrait Tablets and Small Desktops)*/

@media(min-width: 768px) and (max-width: 991px) {
    .movie {
        padding-left: 250px;
        font-size: 30px;
        color: #F80C3A;
        font-weight: bold;
    }

    .social-1,
    .social-2 {
        display: none;
    }
    .logo .character {
        position: relative;
        top: -65px;
        left: 220px;
    }
    .logo .symphony-logo {
        position: relative;
        top: -250px;
        left: 20px;
        z-index: 2;
    }
    .logo-text .p-logo-text {
        font-size: 32px;
        margin-top: 10px;
        margin-left: 80px;
        padding: 25px;
        color: #F80C3A;
        font-weight: 1000;


    }
    .links {
        font-size: 20px;
        padding-left: 10px;
    }



    .game-heading h3 {
        font-size: 46px;
        /*        padding-left: 20px;*/
        /*        margin-left: 100px;*/
        text-align: center;

    }
    .game-text p {
        text-align: center;
        font-size: 22px;
        color: #111;
        line-height: normal;
        font-weight: 500;
    }

    .score-text,
    .time-text {
        text-align: center;
        color: #111;
        font-size: 28px;
        font-weight: bold;
    }
    #score-count,
    #time-count {
        color: #F80C3A;
        font-size: 28px;
        font-weight: bolder;
        padding-left: 100px;
        margin-left: 80px;
    }
    .logo-text-responsive{
        display: none;
    }

    .links-responsive{
        display: none;
    }
    .social-mobile-responsive{
        display: none;
    }
    .canvas-pc{
        display: none;
    }
    .canvas-responsive{
        margin: 30px 200px;
    }
    
    

}

/* small Devices mobiles  */

@media(max-width: 767px) {
    .counter{
        display: none;
    }
    .movie{
        display: none;
    }
    .social-icons{
        display: none;
    }
    .social-responsive{
        display: none;
    }
    .logo-text{
        display: none;
    }
    .logo-text-responsive .p-logo-text{
        font-size: 52px;
        font-weight: 900;
        margin: 50px;
        text-align: center;
    }
     .logo .character {
        position: relative;
        top: 15px;
        left: 180px;
/*        height: 350px;*/
    }
    .logo .symphony-logo {
        position: relative;
        top: -150px;
        left: 20px;
        z-index: 2;
/*        width: 400px;*/
    }
    .logo{
        padding: 20px;
    }
    .links{
        display: none;
    }
     .game-heading h3 {
        font-size: 46px;
        /*        padding-left: 20px;*/
        /*        margin-left: 100px;*/
        text-align: center;
         margin: auto;

    }
    .game-text p {
        text-align: center;
        font-size: 22px;
        color: #111;
        line-height: normal;
        font-weight: 500;
        margin: auto;
        
    }

    .score-text,
    .time-text {
/*        text-align: center;*/
        color: #111;
        font-size: 28px;
        font-weight: bold;
        padding: 0;
        margin: 20px;
        
    }
    #score-count,
    #time-count {
        color: #F80C3A;
        font-size: 38px;
        font-weight: bolder;
        padding: 0;
        margin: 20px;

    }
    .canvas-pc{
        display: none;
    }
    .canvas-responsive{
/*        margin-left: 5px;*/
    }
    
    .refresh {
        padding-left: 80px;
    }
    
    
}
